/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Home Page */
header {
    background-color: #033b3b;
    color: white;
    text-align: center;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-top: 50px;
}

.intro p {
    font-size: 18px;
    color: #f9f7f7;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #060605;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #4b4e4e;
}

/* Resume Page */
.resume-container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #334237;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3b483e;
}



